.container {
    font-family: Verdana, sans-serif;
   color: white;
    height:fit-content;
    display:list-item;
    align-items: center;
    justify-content: center;
    background-image: url("IMG_0629.JPG");
    border-style: ridge;
    border-width: fit-content;
    max-width: fit-content;

}
.imgBrdr{
    border-style: ridge;
    border-width: fit-content;
    max-width: fit-content;
    color:black;
}

.item {
    width: fit-content;
    color:black;

}